
% rebase("base.html", title="Tasks")

	<h1>Tasks</h1>

	<ol>
		% for task in tasks:
		<li>{{ task['name'] }}</li>
		% end
	</ol>
	<form action="{{ get_url('tasks_add')}}" method="post">
		<fieldset>
			<legend>Add new task</legend>

			<label for="method">Method</label><br />
			<select name="method" id="method">
				% for m in methods:
				<option value="{{ m }}">{{ m }}</option>
				% end
			</select>
			<br />


			<label for="input">Dataset</label><br />
			<!--<input name="input" id="input" type="text" /><br />-->
			<select name="input" id="input">
				% for dataset in datasets:
				<option value="{{ dataset.name }}">{{ dataset.name }}</option>
				% end
			</select>
			<br />
			<input type="submit" value="Add" />

		</fieldset>
	</form>



